modules = ["python-3.9"]
run = "python app.py"
[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python app.py"]

[workflows]
runButton = "Run Flask"

[[workflows.workflow]]
name = "Run Flask"
author = 40200343
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"
